@import "utilities.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 250ms;
  transition-property: background-color, opacity;
}

html {
  overflow: hidden;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

:root {
  --bg-color: #0b0b0b;
  --text-color: #ffffff;
  --primary-color: #ffee93;
  --card-color: #131313;
  --logo-text-color: var(--bg-color);
}

[data-theme="light"] {
  --bg-color: #eeeeee;
  --text-color: #0b0b0b;
  --primary-color: #711a47;
  --card-color: #e0e0e0;
  --logo-text-color: #ffffff;
}

a,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

.emoji {
  svg {
    height: 1rem;
    transform: translateY(3px);
    margin-right: 2px;
  }
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Inter", "Roboto", -apple-system, BlinkMacSystemFont, sans-serif;
  height: 100vh;
  position: relative;
}

button,
input,
form,
textarea {
  font-family: "Inter", "Roboto", -apple-system, BlinkMacSystemFont, sans-serif;
}

.container {
  margin: 10px auto;
}

.loading-screen {
  z-index: 90;
  width: 100vw;

  .spinner-box {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin: 25vh auto;

    .three-quarter-spinner {
      width: 5rem;
      height: 5rem;
      border: 3px solid #be0f06;
      border-top: 3px solid transparent;
      border-radius: 50%;
      animation: spin 0.5s linear 0s infinite;
    }

    @keyframes spin {
      from {
        transform: rotate(0);
      }
      to {
        transform: rotate(359deg);
      }
    }
  }
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3rem;

  .logo {
    cursor: pointer;

    svg {
      height: 1.75rem;

      .logo-text {
        fill: var(--text-color);
      }

      .logo-text-primary {
        fill: var(--primary-color);
      }
    }
  }

  .nav-items {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 15px;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 500;
  }

  .nav-link {
    opacity: 0.7;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  .theme-toggle {
    padding: 8px 3px 6px 0px;
    cursor: pointer;

    svg {
      height: 20px;
    }
  }
}

.home {
  height: 80vh;

  .intro {
    align-items: center;
    justify-items: center;
    margin: auto auto 1.5rem auto;

    .grid {
      grid-template-columns: 1.5fr 1fr;
    }

    .avatar {
      width: 100%;
      max-width: 32rem;
      max-height: 32rem;
      position: relative;

      img {
        display: block;
        margin: auto;
      }
    }

    .intro-text {
      span {
        .svg {
          height: 40px;
        }
      }
      .name {
        font-size: 36px;
        line-height: 40px;
      }

      .social-icons {
        display: flex;
        list-style: none;
        gap: 15px;

        svg {
          height: 28px;
          fill: var(--text-color);
        }
      }

      hr {
        background-color: var(--primary-color);
        height: 2px;
        width: 60%;
        margin: 15px 0;
        border: none;
      }

      button {
        background-color: var(--primary-color);
        color: var(--bg-color);
      }
    }
  }
}

.about {
  .container {
    .bio {
      line-height: 1.6;

      .opacity-8 {
        opacity: 0.8;

        &:hover {
          opacity: 1;
        }
      }

      .rush {
        a {
          text-decoration: none;
          position: relative;
        }
      }

      a:hover {
        color: var(--primary-color);
      }
    }

    .grid {
      grid-template-columns: 1.25fr 1fr;
      align-items: flex-start;
      gap: 2rem;
    }

    .flex {
      align-content: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 8px;
    }

    .achivements {
      .achivement {
        display: flex;
        align-items: center;
        gap: 5px;

        a {
          opacity: 0.8;

          &:hover {
            opacity: 1;
          }
        }
      }
    }

    svg-icon {
      width: 40px;
      height: 42px;
      display: flex;
      justify-content: center;

      svg {
        height: 35px;
      }
    }

    .spotify {
      display: flex;
      flex-direction: row;
      align-items: center;
      align-items: center;
      opacity: 0.9;

      .now-playing {
        color: var(--text-color);

        a {
          opacity: 0.8;

          &:hover {
            opacity: 1;
            transition: 300ms;
          }
        }
      }
    }
  }
}

.projects {
  .project-cards {
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));

    .card {
      background-color: var(--card-color);
      color: var(--text-color);
      border-radius: 0;
      box-shadow: none;

      .details {
        line-height: 1.4;
      }

      .ref {
        padding-top: 10px;
        svg {
          height: 20px;
          fill: var(--text-color);
          padding-right: 5px;
          opacity: 0.9;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }

  .other {
    ul {
      font-family: "JetBrains Mono", monospace;
      line-height: 22px;
      list-style: none;
      width: max-content;

      li {
        opacity: 1;
        line-height: 1.6;

        span {
          svg {
            height: 12px;
            padding-right: 5px;
          }
        }
        .text {
          opacity: 0.8;

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}

.uses {
  .container {
    .grid {
      align-items: flex-start;
      text-align: left;

      ul {
        padding-left: 18px;
        list-style-type: disc;

        li {
          line-height: 25px;

          span {
            opacity: 0.8;
          }
        }
      }
    }
  }

  .bottom {
    position: relative;

    footer {
      font-size: 14px;
      text-align: center;
      line-height: 18px;
      position: absolute;
      margin: 10px auto 10px auto;
      padding-bottom: 20px;
      left: 0;
      right: 0;
      top: 0;

      svg {
        height: 14px;
        transform: translateY(2px);
      }

      a {
        color: var(--primary-color);
        opacity: 0.8;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

.contact {
  .container {
    .grid {
      flex-direction: column;
      justify-content: center;
      grid-template-columns: 1fr 1.25fr;
      align-items: center;
      gap: 1rem;

      text-align: left;
      outline: none;

      .contact-form {
        justify-content: left;
        position: relative;
        max-width: 100%;

        form {
          display: flex;
          flex-direction: column;

          label {
            font-size: 14px;
            font-weight: 500;
          }

          input {
            font-family: "Inter", sans-serif;
            margin: 0.8rem 0;
            font-size: 14px;
            outline: none;
            border: 1px solid #131313;
            padding: 8px;
            border-radius: 5px;
          }

          textarea {
            margin: 0.8rem 0;
            font-size: 14px;
            padding: 8px;
            border-radius: 5px;
            outline: none;
            border: 1px solid #131313;
            min-height: 150px;
            max-width: 100%;
          }
        }
      }

      .contact-img {
        svg {
          display: block;
          max-height: 28rem;
          max-width: 28rem;
          margin: auto;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .home {
    height: auto;

    .intro {
      text-align: center;

      .grid {
        grid-template-columns: 1fr;
      }

      .intro-text {
        span {
          display: none;
        }

        .social-icons {
          justify-content: center;
        }

        hr {
          margin: 15px auto;
        }
      }
    }
  }

  .contact {
    .container {
      .grid {
        .contact-img {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 520px) {
  html {
    overflow: auto;
  }
  .nav-bar {
    justify-content: center;

    .logo svg {
      display: none;
    }
  }
}

@media (max-height: 640px) and (max-width: 768px) {
  html {
    overflow: auto;
  }

  body {
    height: 100%;
  }

  .uses {
    footer {
      margin-top: 5rem;
    }
  }
}
